<ul class="nav nav-justified">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Projects</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Downloads</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Contact</a></li>
</ul>
