<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="Билеты ПДД">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Билеты ПДД">
    <meta name="author" content="Webdevlab">
</head>
<body>
    {{ content() }}
</body>